@import "tailwindcss";


.noto-serif{
  font-family: "Noto Serif", serif;
}

.bestSellerSwiper {
  position: relative;
  padding: 0 40px; /* IMPORTANT instead of px-12 in some cases */
}

/* center arrows properly */
.bestSellerSwiper .swiper-button-prev,
.bestSellerSwiper .swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  color: black;
  background: white;
  width: 45px;
  height: 45px;
  border-radius: 9999px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

/* push arrows OUTSIDE cards */
.bestSellerSwiper .swiper-button-prev {
  left: 5px !important;
}

.bestSellerSwiper .swiper-button-next {
  right: 5px !important;
}